<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiaryProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiaryProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DiaryProject.Properties.Settings>
            <setting name="_Company" serializeAs="String">
                <value>Czemi</value>
            </setting>
            <setting name="_Developer" serializeAs="String">
                <value>Ssemakula</value>
            </setting>
            <setting name="_Copyright" serializeAs="String">
                <value>Czemi (c) 2023</value>
            </setting>
            <setting name="_Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_Edition" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="_Revision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="_ProductName" serializeAs="String">
                <value>Dairy Project</value>
            </setting>
            <setting name="_Rights" serializeAs="String">
                <value>All Rights NOT Reserved</value>
            </setting>
            <setting name="_URLPlace" serializeAs="String">
                <value>http://czemi.ke</value>
            </setting>
        </DiaryProject.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DiaryProject.Properties.Settings>
            <setting name="_UserName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_UserPassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_User" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="_Password" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="_PicFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="_last_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_SaveLocation" serializeAs="String">
                <value />
            </setting>
        </DiaryProject.Properties.Settings>
    </userSettings>
</configuration>